.first_frame{
    background-color: #000000;
    position: absolute;
    height: 68px;
    width: 1440px;
    left: calc(50% - 1440px/2);
    top: 0px;
}

.header-box{
    position: absolute;
    height: 68px;
    width: 1304px;
    left: calc(50% - 1304px/2);
    top: calc(50% - 68px/2)

}

.nav-header-box{
    background-color: #000000;
    position: absolute;
    height: 68px;
    width: 978px;
    left: 326px;
}

.nav-box{
    background-color: #000000;
    position: absolute;
    display: inline;
    height: 33px;
    width: 559px;
    top: 17.5px;
    left: 419px;
}

.nav-obj{
    position: absolute;
    height: 34px;
    top: -0.5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.home-nav{ width: 46px; left: 3px; }
.about-nav{ width: 55px; left: 86px; }
.service-nav{ width: 74px; left: 177px; }
.projects-nav{ width: 78px; left: 288px; }
.news-nav{ width: 44px; left: 403px; }
.contact-nav { width: 75px; left: 485px; }